{
    "experimentalTernaries": true,
    "printWidth": 120,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.{css,scss}",
            "options": {
                "parser": "scss",
                "singleQuote": false
            }
        }
    ]
}
