@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(100% 0 0deg);
  --foreground: oklch(14.48% 0 0deg);
  --card: oklch(100% 0 0deg);
  --card-foreground: oklch(14.48% 0 0deg);
  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(14.48% 0 0deg);
  --primary: oklch(55.55% 0 0deg);
  --primary-foreground: oklch(98.51% 0 0deg);
  --secondary: oklch(97.02% 0 0deg);
  --secondary-foreground: oklch(20.46% 0 0deg);
  --muted: oklch(97.02% 0 0deg);
  --muted-foreground: oklch(54.86% 0 0deg);
  --accent: oklch(97.02% 0 0deg);
  --accent-foreground: oklch(20.46% 0 0deg);
  --destructive: oklch(58.3% 0.2387 28.4765deg);
  --destructive-foreground: oklch(97.02% 0 0deg);
  --border: oklch(92.19% 0 0deg);
  --input: oklch(92.19% 0 0deg);
  --ring: oklch(70.9% 0 0deg);
  --chart-1: oklch(55.55% 0 0deg);
  --chart-2: oklch(55.55% 0 0deg);
  --chart-3: oklch(55.55% 0 0deg);
  --chart-4: oklch(55.55% 0 0deg);
  --chart-5: oklch(55.55% 0 0deg);
  --sidebar: oklch(98.51% 0 0deg);
  --sidebar-foreground: oklch(14.48% 0 0deg);
  --sidebar-primary: oklch(20.46% 0 0deg);
  --sidebar-primary-foreground: oklch(98.51% 0 0deg);
  --sidebar-accent: oklch(97.02% 0 0deg);
  --sidebar-accent-foreground: oklch(20.46% 0 0deg);
  --sidebar-border: oklch(92.19% 0 0deg);
  --sidebar-ring: oklch(70.9% 0 0deg);
  --font-sans: geist mono, monospace;
  --font-serif: geist mono, monospace;
  --font-mono: geist mono, monospace;
  --radius: 0;
  --shadow-x: 0;
  --shadow-y: 0.0625rem;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: hsl(0deg 0% 0%);
  --shadow-2xs: 0 0.0625rem 0 0 hsl(0deg 0% 0% / 0%);
  --shadow-xs: 0 0.0625rem 0 0 hsl(0deg 0% 0% / 0%);
  --shadow-sm: 0 0.0625rem 0 0 hsl(0deg 0% 0% / 0%), 0 0.0625rem 0.125rem -0.0625rem hsl(0deg 0% 0% / 0%);
  --shadow: 0 0.0625rem 0 0 hsl(0deg 0% 0% / 0%), 0 0.0625rem 0.125rem -0.0625rem hsl(0deg 0% 0% / 0%);
  --shadow-md: 0 0.0625rem 0 0 hsl(0deg 0% 0% / 0%), 0 0.125rem 0.25rem -0.0625rem hsl(0deg 0% 0% / 0%);
  --shadow-lg: 0 0.0625rem 0 0 hsl(0deg 0% 0% / 0%), 0 0.25rem 0.375rem -0.0625rem hsl(0deg 0% 0% / 0%);
  --shadow-xl: 0 0.0625rem 0 0 hsl(0deg 0% 0% / 0%), 0 0.5rem 0.625rem -0.0625rem hsl(0deg 0% 0% / 0%);
  --shadow-2xl: 0 0.0625rem 0 0 hsl(0deg 0% 0% / 0%);
  --tracking-normal: 0;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(14.48% 0 0deg);
  --foreground: oklch(98.51% 0 0deg);
  --card: oklch(21.34% 0 0deg);
  --card-foreground: oklch(98.51% 0 0deg);
  --popover: oklch(26.86% 0 0deg);
  --popover-foreground: oklch(98.51% 0 0deg);
  --primary: oklch(55.55% 0 0deg);
  --primary-foreground: oklch(98.51% 0 0deg);
  --secondary: oklch(26.86% 0 0deg);
  --secondary-foreground: oklch(98.51% 0 0deg);
  --muted: oklch(26.86% 0 0deg);
  --muted-foreground: oklch(70.9% 0 0deg);
  --accent: oklch(37.15% 0 0deg);
  --accent-foreground: oklch(98.51% 0 0deg);
  --destructive: oklch(70.22% 0.1892 22.2279deg);
  --destructive-foreground: oklch(26.86% 0 0deg);
  --border: oklch(34.07% 0 0deg);
  --input: oklch(43.86% 0 0deg);
  --ring: oklch(55.55% 0 0deg);
  --chart-1: oklch(55.55% 0 0deg);
  --chart-2: oklch(55.55% 0 0deg);
  --chart-3: oklch(55.55% 0 0deg);
  --chart-4: oklch(55.55% 0 0deg);
  --chart-5: oklch(55.55% 0 0deg);
  --sidebar: oklch(20.46% 0 0deg);
  --sidebar-foreground: oklch(98.51% 0 0deg);
  --sidebar-primary: oklch(98.51% 0 0deg);
  --sidebar-primary-foreground: oklch(20.46% 0 0deg);
  --sidebar-accent: oklch(26.86% 0 0deg);
  --sidebar-accent-foreground: oklch(98.51% 0 0deg);
  --sidebar-border: oklch(100% 0 0deg);
  --sidebar-ring: oklch(43.86% 0 0deg);
  --font-sans: geist mono, monospace;
  --font-serif: geist mono, monospace;
  --font-mono: geist mono, monospace;
  --radius: 0;
  --shadow-x: 0;
  --shadow-y: 0.0625rem;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: hsl(0deg 0% 0%);
  --shadow-2xs: 0 0.0625rem 0 0 hsl(0deg 0% 0% / 0%);
  --shadow-xs: 0 0.0625rem 0 0 hsl(0deg 0% 0% / 0%);
  --shadow-sm: 0 0.0625rem 0 0 hsl(0deg 0% 0% / 0%), 0 0.0625rem 0.125rem -0.0625rem hsl(0deg 0% 0% / 0%);
  --shadow: 0 0.0625rem 0 0 hsl(0deg 0% 0% / 0%), 0 0.0625rem 0.125rem -0.0625rem hsl(0deg 0% 0% / 0%);
  --shadow-md: 0 0.0625rem 0 0 hsl(0deg 0% 0% / 0%), 0 0.125rem 0.25rem -0.0625rem hsl(0deg 0% 0% / 0%);
  --shadow-lg: 0 0.0625rem 0 0 hsl(0deg 0% 0% / 0%), 0 0.25rem 0.375rem -0.0625rem hsl(0deg 0% 0% / 0%);
  --shadow-xl: 0 0.0625rem 0 0 hsl(0deg 0% 0% / 0%), 0 0.5rem 0.625rem -0.0625rem hsl(0deg 0% 0% / 0%);
  --shadow-2xl: 0 0.0625rem 0 0 hsl(0deg 0% 0% / 0%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.25rem);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.test-prefix {
  user-select: none;
}
